
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
// Variables
@import "./variables";

// Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

a {
  color: #fff;
}
a:hover {
  text-decoration: none
}
.text-bold {
  font-weight: 700;
}
.mt30 {
  margin-top: 30px;
}
.crpt {
  cursor: pointer;
}