/node_modules
/public/css
/public/js
/public/img
/public/libs
/public/audios
/public/mix-manifest.json
/resources/assets/bower
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
server.key
_ide_helper.php
.phpstorm.meta.php
/nbproject/project.properties
/nbproject/project.xml
/public/storage
/public/dist
/public/plugins
/public/bower_components
storage/debugbar/
