.box-streaming {
}
.recent-bar {
  border-bottom: 1px solid #efefef;
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative;
  background: #fff;
}
.recent-title {
  font-weight: 600;
}
.list-stream {
  border: 1px solid #eee;
  background: #fff;
  list-style: none;
  padding: 0;
}
.list-stream > .stream-item {
  display: flex;
  padding: 25px;
  border-bottom: 1px solid #eee;
}
.stream-item > .stream-index > .thumb-img {
  height: 90px;
  width: 100%;
}
.list-stream > .stream-item > .thumb-img > img {
  height: 90px;
  width: 90px;
}
.list-stream > .stream-item > .stream-index {
  display: flex;
  align-items: center;
  flex-basis: 30%;
  justify-content: center;
}
.list-stream > .stream-item > .stream-details {
  flex-basis: 70%;
  padding-left: 20px;
}
.list-stream > .stream-item > .stream-details > .meta {
  color: #00b1b3;
}
.list-stream > .stream-item > .stream-details > .title {
  font-size: 24px;
}
.list-stream > .stream-item > .stream-details > .description {
}